@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;

  --color-primary: #f7ba34;
  --color-secondary: #69a79c;
  --color-light: #f7f7f7;
  --color-dark: #333333;
  --color-dark2: #999999;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (min-width: 640px) { /* breakpoint-sm */
    padding-inline: 2rem;
  }
  @media (min-width: 1024px) { /* breakpoint-lg */
    padding-inline: 4rem;
  }
  @media (min-width: 1280px) { /* breakpoint-xl */
    padding-inline: 5rem;
  }
  @media (min-width: 1536px) { /* breakpoint-2xl */
    padding-inline: 6rem;
  }
}


/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility primary-btn {
  @apply inline-block bg-primary text-white font-semibold rounded-lg hover:bg-secondary duration-200 shadow-[0px_10px_8px_-7px_#ffd978] hover:shadow-[0px_10px_8px_-7px_#69a79c] py-2 px-6;
}

@utility drop-shadow {
  filter: drop-shadow(6px 8px 10px rgba(0, 0, 0, 0.5));
}

.dnd-sortable-ghost {
  opacity: 0.5;
  background: #f0f0f0;
  border: 2px dashed #ccc;
  transition: all 0.2s ease;
}
